{{#if active}}
  <div>
    {{#ember-tether target=_for
                    targetAttachement=targetAttachement
                    attachment=attachment
                    constraints=constraints
                    class=(concat "pop-over " classes)}}
      <div class="pop-over--wrapper" style={{customStyle}}>
        {{#if title}}
          <div class="pop-over__title">{{title}}</div>
          {{#if subtitle}}
            <div class="pop-over__subtitle">{{subtitle}}</div>
          {{/if}}
          <hr>
        {{/if}}
        <div class="pop-over__content">
          {{yield}}
        </div>
        <div class="pop-over__id">
          {{objectId}}
        </div>
      </div>
    {{/ember-tether}}
  </div>
{{/if}}
